.log-in {
  width: 290px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
}

.username {
  text-align: center;
}

.password {
  text-align: center;
}

.log {
  background-color: #a17979;
  text-align: center;

}